@media screen and (max-width: 767px) {
  header {
    padding: 0 12px;
  }

  nav {
    flex-direction: column;
  }

  nav .logo-brand h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  nav ul {
    gap: 10px;
  }

  nav ul li a {
    font-weight: 500;
    font-size: 16px;
  }

  .footer-container p {
    font-size: 14px;
    line-height: 24px;
  }

  /* Banner Area */

  .banner {
    flex-direction: column-reverse;
  }

  .banner-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .banner-description {
    margin-bottom: 24px;
    font-size: 14px;
  }

  .btn {
    padding: 8px 20px;
    font-size: 14px;
  }

  /* Main Tag */

  main {
    padding: 0 12px;
  }

  /* Section Padding */

  .section-padding {
    padding: 24px 0;
  }

  /* Teams Area */

  .team-section-container {
    flex-direction: column;
  }

  .team-section-img {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .team-section-content-title {
    font-size: 26px;
    text-align: center;
  }

  .team-section-content-description {
    margin: 18px 0 22px;
    line-height: 22px;
    text-align: justify;
  }

  .btn {
    display: block;
    padding: 8px 10px;
    border-radius: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  /* Feature SEction */

  .feature-container {
    flex-direction: column;
  }

  .feature-container-title {
    font-size: 22px;
    margin-bottom: 14px;
  }

  .feature-container-description {
    line-height: 20px;
    margin-bottom: 8px;
    font-size: 14px;
  }

  .feature-container-card {
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 12px;
    line-height: 20px;
    font-size: 14px;
  }

  .feature-container-right p {
    padding: 20px 22px;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    left: 0px;
    bottom: 0;
    color: #fff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 0 12px;
  }
  nav {
    padding-left: 12px;
    padding-right: 12px;
  }

  nav .logo-brand h2 {
    font-size: 30px;
  }

  nav ul {
    gap: 10px;
  }

  /* banner */

  .banner {
    flex-direction: column-reverse;
  }

  .banner-content {
    margin-top: 32px auto;
  }

  .banner-title {
    font-size: 48px;
  }

  .btn {
    padding: 14px 24px;
    font-size: 16px;
  }

  /* Main Tag */

  main {
    padding: 0 12px;
  }

  /* Team */

  .team-section-container {
    flex-direction: column;
  }
  .team-section-content {
    max-width: 680px;
  }

  .team-section-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  .section-padding {
    padding: 50px 0;
  }

  .feature-container-left {
    max-width: 400px;
  }

  .feature-container-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 14px;
    padding-left: 22px;
    border-left: 6px solid #ff900e;
  }

  .feature-container-description {
    line-height: 20px;
    margin-bottom: 0px;
    font-size: small;
  }

  .feature-container-card {
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 10px;
    line-height: 26px;
  }

  .feature-container-card h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
  }

  .feature-container-card p {
    font-size: 12px;
    line-height: 18px;
  }

  .feature-container-right p {
    padding: 26px 30px;
    font-size: 44px;
    text-align: center;
    left: 0px;
    bottom: 0;
}

  /* Footer */

  .footer-container p {
    font-size: 14px;
  }
}
