/* Common Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Shared Styles */

.container-width {
  max-width: 1440px;
  margin: 0 auto;
}

.color-primary {
  color: #ff900e;
}
.color-secondary {
  color: #131313;
}
.color-paragraph-1 {
  color: #727272;
}

.color-paragraph-2 {
  color: #424242;
}

.bg-primary-1 {
  background-color: rgba(255, 144, 14, 0.1);
}

.bg-primary-2 {
  background-color: #ff900e;
}

.section-padding {
  padding: 120px 0;
}

.section-title {
  font-size: 45px;
  font-weight: 700;
}

.display-flex {
  display: flex;
}

.btn {
  display: inline-block;
  color: #fff;
  padding: 20px 24px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
}

/* Header Area */

header {
  padding-bottom: 50px;
}

nav {
  padding: 50px 0 30px;
  justify-content: space-between;
  align-items: center;
}

nav .logo-brand h2 {
  font-size: 45px;
  font-weight: 700;
}

nav ul {
  gap: 80px;
}

nav ul li a {
  color: #424242;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
}

/* Banner Area */

.banner {
  flex-direction: column;
}

.banner-content {
  max-width: 870px;
  margin: 20px auto;
  text-align: center;
}

.banner-title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 26px;
}

.banner-description {
  margin-bottom: 32px;
}

/* Team Section */

.team-section-container {
  align-items: center;
  gap: 70px;
}

.team-section-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.team-section-content {
  max-width: 530px;
}

.team-section-content-title {
  font-size: 45px;
}

.team-section-content-title-1 {
  font-weight: 400;
}

.team-section-content-description {
  margin: 24px 0 32px;
  line-height: 26px;
}

/* Feature area */

.feature-container {
  gap: 24px;
  justify-content: space-between;
}

.feature-container-left {
  max-width: 585px;
}

.feature-container-title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
  padding-left: 22px;
  border-left: 6px solid #ff900e;
}

.feature-container-description {
  line-height: 26px;
  margin-bottom: 30px;
}

.feature-container-card {
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 20px;
  line-height: 26px;
}

.feature-container-card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.feature-container-right {
  position: relative;
}

.feature-container-right img {
  margin-bottom: 20px;
}

.feature-container-right p {
  padding: 46px 42px;
  display: inline-block;
  font-size: 65px;
  text-align: center;
  font-weight: 700;
  border-radius: 8px;
  position: absolute;
  left: -70px;
  bottom: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: #fff;
}

.feature-container-right p span {
  font-size: 30px;
  font-weight: 500;
}

/* Some Facts */

.facts-container h2 {
  margin-bottom: 24px;
  font-weight: 700;
}

.facts-container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  gap: 112px;
  padding: 0 50px;
}

.facts-container-cards img {
  width: auto;
}

.facts-container-card {
  border: 1px solid #ff900e;
  padding: 46px 36px 50px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  text-align: center;
}

.facts-container-card .facts-number {
  margin: 10px 0 8px;
  font-weight: 600;
  font-size: 45px;
}

/* sponsors */
.sponsor-container {
  text-align: center;
}

.sponsor-container h2 {
  font-size: 45px;
}

.sponsor-container p {
  margin-top: 24px;
  margin-bottom: 50px;
}

.sponsors-img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  align-items: center;
}

.sponsors-img img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  width: auto;
}

.sponsors-img img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

/* Footer Area */

footer {
  text-align: center;
}

.footer-container {
  padding: 40px 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.footer-container p {
  font-size: 20px;
}
